<style type="text/css">
    .searchBar {
        width: 100%;
        height: 47px;
    }

    .searchBar {
        display: inline-block;
        float: left;
        margin: 11px 0px;
    }

        .searchBar form.form-inline {
            width: 100%;
            height: 100%;
        }

    .fs-sresult {
        z-index: 100;
        width: 100%;
    }

        .fs-sresult .fs-sremain {
            background-color: #fff;
            box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .5);
            margin: 0px 66px 0px 1px;
        }

        .fs-sresult ul {
            overflow: hidden;
        }

    ul {
        list-style: none;
    }

    .fs-sresult ul li {
        list-style: none;
    }

        .fs-sresult ul li:hover {
            background-color: darkkhaki;
        }

        .fs-sresult ul li a {
            display: table;
            width: 100%;
            padding: 10px 15px;
            border-bottom: 1px solid #e8e8e8;
        }

            .fs-sresult ul li a > p {
                display: table-cell;
                vertical-align: top;
                width: 40px;
                height: 40px;
            }

            .fs-sresult ul li a > div {
                display: table-cell;
                vertical-align: top;
                padding-left: 15px;
            }

            .fs-sresult ul li a p img {
                width: 40px;
            }

    img {
        max-width: 100%;
        height: auto;
    }

    .fs-sresult ul li a > div > h3 {
        font-size: 14px;
        line-height: 1.29;
        color: #505050;
        margin-bottom: 6px;
    }

    h3 {
        margin: 0 0 15px;
    }

    .fs-sresult ul li a > div > p {
        font-size: 14px;
        font-weight: bold;
        margin-bottom: 0px;
        display: inline-block;
        margin-right: 15px;
    }
</style>
<header class="header_area">

    <div class="main_menu">
        <div class="container">
            <nav class="navbar navbar-expand-lg navbar-light w-100">
                <!-- Brand and toggle get grouped for better mobile display -->
                <a class="navbar-brand logo_h" href="index.html">
                    <img src="~/Content/client/img/logo.png" alt="" />
                </a>
                <button class="navbar-toggler"
                        type="button"
                        data-toggle="collapse"
                        data-target="#navbarSupportedContent"
                        aria-controls="navbarSupportedContent"
                        aria-expanded="false"
                        aria-label="Toggle navigation">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse offset w-100"
                     id="navbarSupportedContent">
                    <div class="row w-100 mr-0">
                        <div class="col-lg-7 pr-0">
                            <ul class="nav navbar-nav center_nav pull-right">
                                <li class="nav-item">
                                    <a class="nav-link" href="index.html">Trang chủ</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="@Url.Action("List","Shop")">Shop</a>

                                </li>

                                <li class="nav-item active submenu dropdown">
                                    <a href="#"
                                       class="nav-link dropdown-toggle"
                                       data-toggle="dropdown"
                                       role="button"
                                       aria-haspopup="true"
                                       aria-expanded="false">Của hàng</a>
                                    <ul class="dropdown-menu">
                                        <li class="nav-item">
                                            @* <a class="nav-link" href="category.html">Danh mục sản phẩm</a>*@
                                            @Html.ActionLink("Apple", "Apple", "DanhMuc", new { @class = "nav-link" })
                                        </li>
                                        <li class="nav-item">
                                            @* <a class="nav-link" href="single-product.html">Chi tiết sản phẩm</a>*@
                                            @Html.ActionLink("SamSung", "SamSung", "DanhMuc", new { @class = "nav-link" })
                                        </li>

                                        <li class="nav-item">
                                            @*   <a class="nav-link" href="cart.html">Giỏ hàng</a>*@
                                            @Html.ActionLink("Phụ kiện", "PhuKien", "DanhMuc", new { @class = "nav-link" })
                                        </li>
                                    </ul>
                                </li>
                                <li class="nav-item submenu dropdown">
                                    <a href="single-blog.html"
                                       class="nav-link dropdown-toggle">Blog</a>

                                </li>

                                <li class="nav-item">
                                    <a class="nav-link" href="contact.html">Liên Hệ</a>
                                </li>
                            </ul>
                        </div>

                        <div class="col-lg-5 pr-0">
                            <ul class="nav navbar-nav navbar-right right_nav pull-right">

                                <li class="nav-item">
                                    @{
                                        if (Request.IsAuthenticated)

                                        {
                                            using (Html.BeginForm("Logout", "MyUser", FormMethod.Post, new { id = "logoutForm" }))
                                            {
                                                <span>@(Request.IsAuthenticated ? HttpContext.Current.User.Identity.Name : "Guest")</span>
                                                <a class="icons" href="javascript:document.getElementById('logoutForm').submit()"><i class="fa fa-sign-in"></i></a>

                                                <a href="@Url.Action("Cart")" class="icons">
                                                    <i class="ti-shopping-cart"></i>

                                                </a>

                                                @* @Html.ActionLink("<i class='ti-shopping-cart'></i>", "Cart", "Home", new { @class = "icons" })*@

                                                <a href="#" class="icons">
                                                    <i class="ti-heart" aria-hidden="true"></i>
                                                </a>


                                            }
                                        }
                                        else
                                        {

                                            <a class="icons" href="@Url.Action("Login","MyUser")"><i class="fa fa-user"></i></a>

                                            @*@Html.ActionLink("<i></i>", "Login", "Home", new { @class = "icons fa fa-sign-in" })*@


                                            <a href="@Url.Action("Register","MyUser")" class="icons">
                                                <i class="fa fa-registered"></i>

                                            </a>
                                            @* @Html.ActionLink("<i class='fa fa-registered'></i>", "Register", "Home", new { @class = "icons" })*@



                                            <a href="@Url.Action("Cart","MyUser")" class="icons">
                                                <i class="ti-shopping-cart"></i>

                                            </a>

                                            @* @Html.ActionLink("<i class='ti-shopping-cart'></i>", "Cart", "Home", new { @class = "icons" })*@






                                            <a href="#" class="icons">
                                                <i class="ti-heart" aria-hidden="true"></i>
                                            </a>


                                        }
                                    }
                                </li>

                            </ul>
                        </div>
                    </div>
                </div>
            </nav>
            <div class="row">
                <div class="col-lg-3"></div>
                <div class="col-lg-6">
                    <div class="searchBar" @* style=" margin-top: -5px; margin-bottom: 10px;"*@>
                        <form class="form-inline">
                            <input style="width:100%" required name="keys" class="form-control mr-sm-2 searchInput" type="text"
                                   placeholder="Bạn cần tìm gì..." oninput="this.setCustomValidity('')"
                                   aria-label="Search" onkeyup="debounce(showResult(), 5000)"
                                   onclick="onClinkInputSearch()">

                            <div class="fs-sresult" style="display: none">
                                <div class="fs-sremain">
                                    <ul style="display: block;">
                                    </ul>
                                </div>
                            </div>

                        </form>
                    </div>
                </div>
                <div class="col-lg-3"></div>
            </div>
        </div>
    </div>
</header>

<script>

        $(document).mouseup(function (e) {
            if ($(e.target).closest(".fs-sresult").length === 0) {
                $(".fs-sresult").hide();
            }
        });


        function onClinkInputSearch() {
            $(".fs-sresult").show();
        }


        function debounce(func, wait) {
            let timeout;

            return function executedFunction(...args) {
                const later = () => {
                    timeout = null;
                    func(...args);
                };

                clearTimeout(timeout);
                timeout = setTimeout(later, wait);
            };
        }

        function showResult() {
            var keys = $(".searchInput").val();
            console.log(keys);
            if (!keys) {
                $(".fs-sresult").hide();
            } else {
                $(".fs-sresult").show();
                $.ajax({
                    type: "GET",
                    url: "https://localhost:44306/RestProduct/searchProduct",
                    data: {
                        keys: keys
                    },
                   @* headers: {
                        Accept: "application/json; charset=utf-8",
                        "Content-Type": "application/json; charset=utf-8"
                    },*@
                    contentType: "application/json;charset=UTF-8",
                    dataType: "json",
                    success: function (res) {

                        console.log("DAtaaaaaaaaaaaaaaaaaaa" + res);

                        $(".fs-sresult").find("ul>li").remove();


                            for (var i = 0; i < res.length; i++) {

                                $(".fs-sresult").find("ul").append("<li @*style="+'background'+":"+ 'lightgoldenrodyellow'+"*@ ><a href=\"https://localhost:44306/chitiet/ProductDetail/" + res[i].id + "\">" +
                                    "                                            <p>" +
                                    "                                                <img height="+40+" width="+40+"  src=\"https://localhost:44306/Content/client/img/product/" + res[i].imgMain + " \"" +
                                    "                                                     alt=\"https://localhost:44306/Content/client/img/product/" + res[i].imgMain + " \">" +
                                    "                                            </p>" +
                                    "                                            <div>" +
                                    "                                               <h3>" + res[i].name + "</h3>" +
                                    "                                               <p class=\"fshop-search-prodprice\">" + formatNumber(res[i].code, ',', '.') + "</p></div>" +
                                    "                                 </a></li>");



                            }


                            $(".fs-sresult").find("ul").append("" +
                                "<li class=\"black\">\n" +
                                "   <a \" href=\"#" + "\">Hiển thị kết quả cho\n" +
                                "         <b><i>" + keys + "</i></b>\n" +
                                "   </a>\n" +
                                "</li>");

                    },
                    error: function () {
                        $(".fs-sresult").find("ul>li").remove();

                        $(".fs-sresult").find("ul").append("" +
                            "<li class=\"black\">\n" +
                            "   <a \" href=\"#\">Không tìm thấy kết quả cho\n" +
                            "         <b><i>" + keys + "</i></b>\n" +
                            "   </a>\n" +
                            "</li>");
                    }
                });
            }
        }
</script>